poe-chat_siri-shortcut_flows.json
[{"id":"00b63f54e2cc20f4","type":"server-events","z":"208448b54add1ce6","name":"poe_chat.reply_chunk event was triggered","server":"56856500.a2f55c","version":2,"eventType":"poe_chat.reply_chunk","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$outputData(\"eventData\").event","valueType":"jsonata"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":240,"y":180,"wires":[["52c0bd1191aebc0b"]]},{"id":"093965cb559edaea","type":"switch","z":"208448b54add1ce6","name":"If text is not empty","property":"payload.text","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":180,"wires":[["f590e897ec5c8d28"]]},{"id":"f590e897ec5c8d28","type":"file","z":"208448b54add1ce6","name":"Store chatgpt_chunk.json","filename":"/config/www/poe_chat/chatgpt_chunk.json","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":1090,"y":180,"wires":[[]]},{"id":"52c0bd1191aebc0b","type":"switch","z":"208448b54add1ce6","name":"If conversation came from Siri","property":"payload.conversation_id","propertyType":"msg","rules":[{"t":"cont","v":"siri_chatgpt","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":180,"wires":[["093965cb559edaea"]]},{"id":"062986d01dfff96e","type":"server-events","z":"208448b54add1ce6","name":"chatgpt_event from Siri Shortcut was triggered","server":"56856500.a2f55c","version":2,"eventType":"chatgpt_event","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$outputData(\"eventData\").event","valueType":"jsonata"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":250,"y":100,"wires":[["6612a91b6f56f0ea"]]},{"id":"6612a91b6f56f0ea","type":"api-call-service","z":"208448b54add1ce6","name":"Call poe_chat service","server":"56856500.a2f55c","version":5,"debugenabled":false,"domain":"poe_chat","service":"chat","areaId":[],"deviceId":[],"entityId":[],"data":"msg.payload","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":100,"wires":[[]]},{"id":"f82a6429e2dc0416","type":"server-events","z":"208448b54add1ce6","name":"poe_chat.reply event was triggered","server":"56856500.a2f55c","version":2,"eventType":"poe_chat.reply","exposeToHomeAssistant":false,"eventData":"","haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"$outputData(\"eventData\").event","valueType":"jsonata"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":220,"y":260,"wires":[["2a373c2240ecdbcc"]]},{"id":"2a373c2240ecdbcc","type":"switch","z":"208448b54add1ce6","name":"If text is not empty","property":"payload.text","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":260,"wires":[["434c787ec8e7d01d"]]},{"id":"434c787ec8e7d01d","type":"file","z":"208448b54add1ce6","name":"Store chatgpt_reply.json","filename":"/config/www/poe_chat/chatgpt_reply.json","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":850,"y":260,"wires":[[]]},{"id":"56856500.a2f55c","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]